/*WoOpDxqbp9ghYEvom3HCkuUWs11etTU0RViSt_PESb4HAX5GqHrcpmj1LI9hV0Yd*/

body{
  background-color: #417dd4;
}

.header{
  color: #fff;
}

.title{
  text-align: center;
  font-weight:bold;
}

.connected{
  text-align: center;
}

.batteryTitle{
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.batteryMeter{
  background-color:#84db13;
  padding: 1em;
  border-radius: .65em;
  text-align: center;
  font-size: 150%;
}

.tempertureSensorBar{
  margin-top: 1em;
  background-color: #99c4f7;
  padding: 1em;
  border-radius: .65em;
}

.tempertureSensor{
  color: #194477;
  font-weight: bold;
}

.currentTemp {
  color: #194477;
}

.historyChart{
  border-radius: .65em;
  background-color: #99c4f7;
  min-height: 10em;
}

.historyChartHeader{
  font-size: 150%;
  padding: 1em;
  background-color: #194477;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  color: #fff;
  font-weight:bold;
}

.chartHeaders{
  font-weight:bold;
  padding: .2em;
}
